
.sidebar-container{
    order: -1;
    width: 25%;
    height: 100%;
}

.main-container{
    width: 75%;
}


.page-header h1{
    font-size: 30pt;
    margin-right: 30pt;
}
             
.sidebar {
    position: fixed;
    height: 100%;
    width: 25%;
    order: 1;
    background-color: gray;
    font-size: 10pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.top {
    height: 150px;
}


.menu li {
    margin: 18pt; 
    font-size: 12pt;
}


#cover-image {
    width: 96%;
}

.description {
    text-align: center;
    font-size: 13pt;
}


.project {
    width: 30%;
    margin: 15px;
}

.projects-image {
    width: 500px;
    height: 350px;
}

section li {
    font-size: 15pt;
    margin: 20px;
    margin: .5rem;
    padding: .3rem;
}

