
.sidebar-container{
    width: 15%;
}

.main-container{
    width: 85%;
}

.sidebar{
    width: 15%;
}

.menu li {
    margin: 30pt; 
    font-size: 14pt;
}

.all-projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.projects-image {
    width: 350px;
    height: 250px;
}

